


.logoSuper{
	border-radius: 10px;
	width: 30vh;
	height: 50%;
	margin: 5px;
}
.fontFooter{
	font-size: 1em;
	color: white;
	font-family: 'Poppins', sans-serif;
}

.logoWp{
	display: flex;
	width: 10vh;
}

.fontFooter2{
	color: white;

}

