h4{
	color:$danger;
	font-family: 'Poppins', sans-serif;
	font-size: 2.5em;

}

.imgCarouselAuto{
	width: 100%;
	height: 600px;
	object-fit: cover;
	overflow: hidden;

}

.imgCarouselCasa{
	width:1582px;
	height: 600px;
	object-fit: cover;
	overflow: hidden;
}


.fontInstitucional{
	color: green;
	font-family: 'Poppins', sans-serif;
}

.fontH3{
	color:#169c6a;
	font-size: 2.5em;
	font-family: 'Poppins', sans-serif;
}

.fontCoberturas{
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	color:#039947;

}

.imgCoberturas{
	border-radius: 10px;
	border: solid;
	margin: 10px;
	padding:10px;
	border-width: 2px;
	border-color: green;
	border-bottom: 30px;
}

.imgCoberturas2{
	width: 100%;
	height: 100%;
	min-height: 350px;
	max-height: 350px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 10px;
	border: solid;
	margin: 10px;
	padding:10px;
	border-width: 2px;
	border-color: green;
	border-bottom: 30px;

}

.gridCoberturas{
	padding: 10px;
	display:grid;
	grid-template-columns:30% 30% 30%;
	grid-template-rows: 20vh 20vh 20vh 20vh;
	grid-column-gap: 3em;
	grid-row-gap: 20em;

}
